.grid-skills-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 560px);
    // border: 1px solid red;
    grid-gap: 10px;
    margin-top: 25px;
}

.grid-skill {
    // border: 1px solid blueviolet;
    width: 380px;
    height: 100%;
    // background-color: #9b9dac;
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.skill-box {
    background-color: silver;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    position: relative;
}

.grid-skill-1 .bg-technology { background: linear-gradient(rgb(223, 161, 47), rgb(168, 107, 33)); }
.grid-skill-2 .bg-technology { background: linear-gradient(rgb(128, 46, 25), rgb(87, 29, 15)); }
.grid-skill-3 .bg-technology { background: linear-gradient(rgb(55, 55, 133), rgb(41, 41, 112)); }
.grid-skill-4 .bg-technology { background: linear-gradient(rgb(121, 69, 121), rgb(102, 67, 134)); }

.grid-skill-2 .bg-technology__text,
.grid-skill-4 .bg-technology__text { bottom: 40px; right: 17px; }

.bg-technology {
    border-radius: 20px 20px 0 20px;
    position: absolute;
    right: 0;
    width: 190px;
    height: 240px;
    bottom: 205px;
    transform: skewY(15deg);
    z-index: 1;
}

.bg-technology__text {
    transform: skewY(-15deg);
    font-size: 36px;
    font-weight: bold;
    color: #fefefe;
    position: absolute;
    bottom: 40px;
    right: 40px;
}

.svg-technology {
    position: relative;
    left: 50%;
    top: -40px;
    width: 180px;
    height: 180px;
    // border: 3px solid blue;
    z-index: 2;
    transform: translate(-50%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    // background-color: rgb(87, 65, 25);
    // color: orange;
}

.star-technology {
    position: relative;
    left: 35px;
    top: -10px;
    width: 60px;
    height: 60px;
    // border: 3px solid blue;
    z-index: 2;
    color: #606060;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.description-technology {
    position: relative;
    left: 50%;
    top: 5px;
    width: 250px;
    min-height: 20px;
    // border: 3px solid blue;
    z-index: 2;
    transform: translate(-50%);

    & > p {
        color: #606060;
        font-weight: 500;
        letter-spacing: 1px;
        text-align: left;
        padding: 0 0 3px 20px;
    }
}

//***************
//--- RWD
//***************
@media (min-width: 778px) {
    .grid-skills-box {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 560px);
    }
}

@media (min-width: 1678px) {
    .grid-skills-box {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 560px;
    }
}


