.grid-skills-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 560px);
    border: 1px solid red;
    grid-gap: 10px 0;
    // margin: 124px 0;
}

.grid-skill {
    border: 1px solid blueviolet;
    width: 380px;
    height: 100%;
    // background-color: #9b9dac;
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.skill-box {
    background-color: silver;
    width: 300px;
    height: 380px;
    border-radius: 20px;
    position: relative;
}

.grid-skill-1 .bg-technology { background: linear-gradient(rgb(223, 161, 47), rgb(168, 107, 33)); }
.grid-skill-2 .bg-technology { background: linear-gradient(rgb(128, 46, 25), rgb(87, 29, 15)); }
.grid-skill-3 .bg-technology { background: linear-gradient(rgb(43, 43, 219), rgb(38, 38, 167)); }
.grid-skill-4 .bg-technology { background: linear-gradient(rgb(121, 69, 121), rgb(102, 67, 134)); }

.grid-skill-2 .bg-technology__text,
.grid-skill-4 .bg-technology__text { bottom: 40px; right: 20px; }

.bg-technology {
    border-radius: 20px 20px 0 20px;
    position: absolute;
    right: 0;
    width: 190px;
    height: 250px;
    bottom: 180px;
    transform: skewY(20deg);
    z-index: 1;
}

.bg-technology__text {
    transform: skewY(-20deg);
    font-size: 36px;
    font-weight: bold;
    color: #fefefe;
    position: absolute;
    bottom: 40px;
    right: 40px;
}

.svg-technology {
    position: relative;
    left: 50%;
    top: -40px;
    width: 180px;
    height: 180px;
    // border: 3px solid blue;
    z-index: 2;
    transform: translate(-50%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    // background-color: rgb(87, 65, 25);
    // color: orange;
}

.star-technology {
    position: relative;
    left: 40px;
    top: -20px;
    width: 60px;
    height: 60px;
    border: 3px solid blue;
    z-index: 2;
    color: #606060;
}

.description-technology {
    position: relative;
    left: 50%;
    top: -5px;
    width: 250px;
    height: 120px;
    border: 3px solid blue;
    z-index: 2;
    transform: translate(-50%);

    & > p {
        color: #606060;
        font-weight: 500;
    }
}


