$colorSet1: (
        c1: #202344,    
        c2: #63667e,
        c3: #bdbec7,
        c4: #D6D7DC,
        c5: #849fff,
);

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  overflow: hidden;
  background-color: map_get($colorSet1, c3);
}

footer {
  color: map_get($colorSet1, c1);
  font-size: 20px;
  font-weight: bold;
  margin: 15px 0 20px;
}

.nav {
  position: relative;
  width: 100vw;
  height: 80px;
  left: 0;
  top: 0;
  background-color: map_get($colorSet1, c1);
  color: map_get($colorSet1, c3);
  display: flex;
  justify-content: space-between;
  align-items: center;

  //--- 1: Header nav
  & h1 {
    margin-left: 30px;
    letter-spacing: 1px;
  }

  //--- 2: Button for mobile
  & > button {
    display: flex;
    // display: none;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    width: 100px;
    height: 60px;
    background: transparent;
    border: none;
    z-index: 3;
    cursor: pointer;

    $fixBorder: 3px;

    & > span {
      width: 20px;
      height: 20px;
      display: block;
      background-color: map_get($colorSet1, c3);
      border: $fixBorder solid map_get($colorSet1, c3);
      border-radius: 50%;
      position: relative;

      &::before {
        content: '';
        width: 20px;
        height: 20px;
        background-color: map_get($colorSet1, c3);
        display: block;
        border: 3px solid map_get($colorSet1, c3);
        border-radius: 50%;
        position: absolute;
        transform: translate(-$fixBorder, -$fixBorder);
        left: -30px;
        transition: all .4s;
      }

      &::after {
        content: '';
        width: 20px;
        height: 20px;
        background-color: transparent;
        display: block;
        border: 3px solid map_get($colorSet1, c3);
        border-radius: 50%;
        position: absolute;
        transform: translate(-$fixBorder, -$fixBorder);
        left: 30px;
        transition: all .4s;
      }
    }

    &:hover > span {
      transform: rotateY(90deg);
      transition: transform .4s .2s;
      animation: showCloseBtn .5s .5s forwards ease-in-out;
    }
    &:hover > span::before {
      font-size: 24px;
      line-height: 34px;
      left: 0;
      animation: showCloseBtnAfterBefore .5s .5s forwards ease-in-out;
    }
    &:hover > span::after {
      font-size: 24px;
      line-height: 34px;
      font-weight: bold;
      left: 0;
      animation: showCloseBtnAfterBefore .5s .5s forwards ease-in-out;
    }
  }

  @keyframes showCloseBtn {
    to { transform: rotateY(0deg); width: 40px; height: 40px; }
  }
  @keyframes showCloseBtnAfterBefore {
    to { width: 40px; height: 40px; content: 'X'; }
  }

  //--- 3: List nav - In Mobile (flex/none)
  & > ul {
    list-style-type: none;
    // display: flex;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, .93);
    z-index: 2;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    animation: showNav .5s .2s forwards ease-in-out;

    & > li {
      position: relative;
      width: 100px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & > li::after {
      content: '';
      width: 100px;
      height: 0;
      position: absolute;
      border-radius: 50%;
      filter: blur(20px);
      background-color: map_get($colorSet1, c5);        
      transition: all .6s;
    }
    & > li:hover::after {
      height: 20px;
    }

    & > li > button {
      background-color: transparent;
      border: none;
      color: map_get($colorSet1, c3);
      font-size: 24px;
      font-weight: 600;
      z-index: 2;
      width: 100%;
      height: 100%;
      transition: all .4s;
      outline: none;
    }
    & > li > button:hover, button:focus {
      color: map_get($colorSet1, c5);
      cursor: pointer;        
    }
  }

  @keyframes showNav {
    to { opacity: 1; }
  }
}

.container {
  margin: 0 auto;
}

.grid-item {
  background-color: map_get($colorSet1, c4);
  color: map_get($colorSet1, c2);
  display: flex;
  font-size: 24px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

//---
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 270px);
  grid-gap: 8px;
  padding: 8px;
}

.grid-item { display: none; }

.grid-item-1,
.grid-item-3,
.grid-item-4,
.grid-item-5 { display: flex; }

.grid-item-1 { grid-column: 1 / span 2; }
.grid-item-4 { grid-column: 1 / 2; grid-row: 2 / 3; }
.grid-item-5 { grid-column: 2 / 3; grid-row: 2 / 3; }
.grid-item-3 { grid-column: 1 / 3; grid-row: 3 / 4; }

//---
@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 220px 220px 180px 180px;
  }
  .grid-item {
    display: flex;
  }
  .grid-item-2 { display: none; }

  .grid-item-1 { grid-column: 1 / span 3; }
  .grid-item-4 { grid-column: span 3 / 7; grid-row: 1 / 2; }
  .grid-item-5 { grid-column: 1 / 4; grid-row: 2 / 3; }
  .grid-item-3 { grid-column: 4 / 7; grid-row: 2 / 3; }

  .grid-item-6 { grid-column: 1 / span 2; }
  .grid-item-7 { grid-column: 3 / span 2; }
  .grid-item-8 { grid-column: 5 / span 2; }
  .grid-item-9 { grid-column: 1 / span 2; grid-row: 4; }
  .grid-item-10 { grid-column: 3 / span 2; grid-row: 4; }
  .grid-item-11 { grid-column: 5 / span 2; grid-row: 4; }
}

//---
@media (min-width: 1024px) {
  .nav > button {
    display: none;
  }
  .nav h1 {
    margin-left: 50px;
  }
  .nav {

    //--- 3: List nav - In Desktop
    & > ul {
      display: flex;
      flex-direction: row;
      justify-content: unset;
      align-items: unset;
      position: unset;
      width: unset;
      height: unset;
      
      border: 2px solid map_get($colorSet1, c3);
      border-radius: 7px;
      overflow: hidden;
      margin-right: 50px;

      & > li {
        padding: 0;
        width: 120px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid map_get($colorSet1, c3); 
        background-color: map_get($colorSet1, c2);
        transition: all .5s;
        position: relative;
      }

      & > li:last-child {
        padding-right: 0;
        border-right: none;
      }
      & > li::after {
        content: '';
        width: 70px;
        height: 8px;
        position: absolute;
        border-radius: 50%;
        filter: blur(10px);
        transition: all .4s;
        background-color: unset;        
      }
      & > li::before {
        content: '';
        position: absolute;
        width: calc(100% - 1px);
        height: 100%;
        transition: all .4s;
      }

      & > li > button { 
        color: map_get($colorSet1, c3);         
        transition: all .5s;
        width: 100%;
        height: 100%;
        outline: none;
        z-index: 1;
      }

      & > li > button:hover, button:focus {
        color: map_get($colorSet1, c5);
        cursor: pointer;
      }
      & > li:hover::after {
        background-color: map_get($colorSet1, c5);        
      }
      & > li:hover::before {
        background-color: map_get($colorSet1, c1);       
      }
    }
  }

  .container { max-width: 1008px; }
  .grid {
    grid-template-columns: repeat(5, 192px);
    grid-template-rows: repeat(5, 112px);
    grid-template-areas: 
          "about-me about-me about-me cv cv"
          "about-me about-me about-me cv cv"
          "about-me about-me about-me contact skills"
          "p1 p2 projects projects p3"
          "p4 p5 projects projects p6";
  }

  .grid-item-2 { display: flex; }

  .grid-item-1 { grid-area: about-me; }
  .grid-item-2 { grid-area: skills; }
  .grid-item-3 { grid-area: projects; }
  .grid-item-4 { grid-area: cv; }
  .grid-item-5 { grid-area: contact; }
  .grid-item-6 { grid-area: p1; }
  .grid-item-7 { grid-area: p2; }
  .grid-item-8 { grid-area: p3; }
  .grid-item-9 { grid-area: p4; }
  .grid-item-10 { grid-area: p5; }
  .grid-item-11 { grid-area: p6; }
}

//---
@media (min-width: 1680px) {
  .nav h1 {
    font-size: 26px;
    margin-left: 60px;
  }
  .nav > ul {
    margin-right: 60px;

    & > li {
      width: 150px;
      height: 46px;
    }

    & > li > button {
      font-size: 26px;
    }
  }

  .container { max-width: 1308px; }
  .grid {
    grid-template-columns: repeat(5, 252px);
    grid-template-rows: repeat(5, 146px);
  }
}

